{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "24"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".jsx"]
      }
    ]
  ],
  "ignore": ["node_modules"]
}
